.product__info-container product-form.product-form,
.packPresentOnPage cart-drawer #CartDrawer-CartErrors {
  display: none;
}

.pack {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 1rem;
  border-radius: var(--content-container-radius);
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  cursor: pointer;
  transition: 0.25s ease all;
  border: 1px solid var(--pack-color-background-dark);
  background: var(--pack-color-background);
}

.pack__style--classic .pack {
  padding-left: 4rem;
  position: relative;
}

.pack__style--tight .pack__header,
.pack__style--stack .pack__header {
  padding-left: 3rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 1rem;
  flex-wrap: wrap;
}

.pack__style--tight .pack__header .pack__numbers,
.pack__style--stack .pack__header .pack__numbers {
  flex-direction: column;
  align-items: end;
  text-align: right;
  gap: 0;
}

.pack__title {
  color: var(--pack-color-title);
  font-size: 1.8rem;
  line-height: 1;
}

.pack__price {
  color: var(--pack-color-price);
  font-size: 1.8rem;
  line-height: 1;
}

.price__additional-text,
.pack__price-before {
  font-size: 1.3rem;
  line-height: 1;
  margin-top: 4px;
}

.price__additional-text {
  color: var(--pack-color-texts);
}

.pack__price-before {
  color: var(--pack-color-discount-price);
}

.pack__style--classic .pack::after,
.pack__style--tight .pack__header::after,
.pack__style--stack .pack__header::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  -webkit-box-shadow: inset 0px 0px 0px 3px rgba(var(--pack-color-selected), 0.2);
  box-shadow: inset 0px 0px 0px 3px rgba(var(--pack-color-selected), 0.2);
  transition: 0.25s ease all;
}

.pack__style--tight .pack__header::after,
.pack__style--stack .pack__header::after {
  left: 0rem;
}

.pack__style--classic .pack.pack__selected::after,
.pack.pack__selected .pack__header::after {
  -webkit-box-shadow: inset 0px 0px 0px 6px rgb(var(--pack-color-selected));
  box-shadow: inset 0px 0px 0px 6px rgb(var(--pack-color-selected));
}

.pack__style--classic .pack__texts {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.pack__style--classic .pack__texts .price__additional-text {
  margin: 0;
}

.pack.pack__selected {
  border-color: rgb(var(--pack-color-selected));
  background: var(--pack-color-selected-background);
}

.pack.pack__with-image {
  grid-template-columns: 1fr 4fr;
}

.pack__select--container,
.pack__select--item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.pack__select {
  width: 100%;
  height: 3rem;
}

.pack .select svg {
  top: 75%;
  left: auto;
  right: 5%;
}

.pack__style--tight .pack .select svg,
.pack__style--stack .pack .select svg {
  top: 58%;
  left: auto;
  right: 5px;
}

.pack__select--item {
  gap: 0.5rem;
}

.pack__select--item-1 {
  width: 100%;
}

.pack__select--item-2 {
  width: calc(50% - 0.3rem);
}

.pack__select--item-3 {
  width: calc(33% - 0.3rem);
}

.pack__style--tight .pack__select--item,
.pack__style--tight .pack__select,
.pack__style--stack .pack__select--item,
.pack__style--stack .pack__select {
  width: auto;
}

.pack__select--container {
  margin: 1rem 0;
  gap: 0.5rem;
  display: none;
}

.pack__style--tight .pack__select--container,
.pack__style--stack .pack__select--container {
  margin: 1rem 0 0;
}

.pack__selected .pack__select--container {
  display: flex;
}

.form__label--lines {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  color: rgb(var(--color-foreground));
}

.form__label--lines::before,
.form__label--lines::after {
  flex-grow: 1;
  content: '';
  height: 1px;
  background: currentcolor;
  opacity: 0.3;
}

.pack__select--item label {
  line-height: 1.3;
  color: var(--pack-color-variants-title);
  font-size: 12px;
}

.pack__disclaimer {
  padding: 2px 10px;
  border-radius: 30px;
  font-size: 12px;
  white-space: nowrap;
  text-transform: uppercase;
  color: rgb(var(--pack-color-disclaimer));
  background: var(--pack-color-disclaimer-fade);
}

.pack__style--classic .pack__disclaimer {
  position: absolute;
  top: -9px;
  left: 50%;
  transform: translateX(-50%);
}

.pack__style--tight .pack__disclaimer,
.pack__style--stack .pack__disclaimer {
  margin-left: 4px;
}

.pack__style--tight .pack__select--container label,
.pack__style--stack .pack__select--container label {
  font-size: 1.2rem;
}

.pack__style--stack .stack-active .pack__select--container {
  display: flex;
}

.pack__stack--selects {
  margin-bottom: 1.5rem;
}

.pack__image {
  width: 8rem;
  border-radius: var(--content-container-radius);
  height: auto;
}

.pack__numbers {
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
}

.pack__price-before {
  text-decoration: line-through;
}

.pack-accordion__shadow--0 {
  box-shadow: none;
}

.pack-accordion__shadow--1 {
  box-shadow: var(--shadow-1);
}

.pack-accordion__shadow--2 {
  box-shadow: var(--shadow-2);
}

.pack-accordion__shadow--3 {
  box-shadow: var(--shadow-3);
}

product-pack .button__extra {
  margin-top: 1rem;
}
