.cart-item__quantity-wrapper {
  display: flex;
}

.cart-item__quantity-wrapper .quantity__button {
  width: 3.2rem;
  height: 3.2rem;
}

.cart__footer .totals__little {
  font-size: 1.4rem;
  font-weight: 400;
}

.cart-item__totals {
  position: relative;
}

.cart-items *.right {
  text-align: right;
}

.cart-item__image-container {
  display: inline-flex;
  align-items: flex-start;
}

.cart-item__image-container:after {
  content: none;
}

.cart-items .cart-item__image {
  height: auto;
  max-width: calc(10rem / var(--font-body-scale));
}

.cart-item-right__part {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 31rem);
}

.cart-item__details {
  width: 20rem;
}

.cart-item__media,
.cart-item__image {
  width: 8rem;
}

@media screen and (min-width: 750px) {
  .cart-item-right__part {
    width: calc(50% - 3rem);
  }

  .cart-item__details {
    width: 40%;
  }

  .cart-wrapper .cart-item__media {
    width: 10%;
  }

  .cart-item__image {
    width: 100%;
  }
}

.cart-item__details {
  font-size: 1.6rem;
  line-height: calc(1 + 0.4 / var(--font-body-scale));
}

.cart-item__details > * {
  margin: 0;
  max-width: 30rem;
}

.cart-item__details > * + * {
  margin-top: 0.6rem;
}

.cart-item__media {
  position: relative;
}

.cart-item__link {
  display: block;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.cart-item__name {
  text-decoration: none;
  display: block;
}

.cart-item__name:hover {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  text-decoration-thickness: 0.2rem;
}

.cart-item__price-wrapper > * {
  display: block;
  margin: 0;
  padding: 0;
}

.cart-item__discounted-prices dd {
  margin: 0;
}

.cart-item__discounted-prices .cart-item__old-price {
  font-size: 1.4rem;
}

.cart-item__old-price {
  opacity: 0.7;
}

.cart-item__final-price {
  font-weight: 400;
}

.product-option {
  font-size: 1.4rem;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
  display: flex;
  gap: 5px;
  align-items: center;
}

.cart-item cart-remove-button {
  display: flex;
  margin-left: 0.7rem;
}

cart-remove-button .button {
  min-width: 2.8rem;
  min-height: 2.8rem;
  padding: 0;
  margin: 0 0.1rem 0.1rem 0;
  border: none;
  background-color: transparent;
  color: rgb(var(--color-foreground));
}

cart-remove-button .button:before,
cart-remove-button .button:after {
  content: none;
}

cart-remove-button .button:not([disabled]):hover {
  color: rgb(var(--color-foreground));
}

cart-remove-button .icon-remove {
  height: 1.5rem;
  width: 1.5rem;
}

.cart-item .loading-overlay {
  top: 0;
  left: auto;
  right: auto;
  bottom: 0;
  padding: 0;
}

@media screen and (min-width: 750px) {
  .cart-item .loading-overlay {
    right: 0;
    padding-top: 4.5rem;
    bottom: auto;
  }
}

.cart-item .loading-overlay:not(.hidden) ~ * {
  visibility: hidden;
}

.cart-item__error {
  display: flex;
  align-items: flex-start;
}

.cart-item__error-text {
  font-size: 1.2rem;
  order: 1;
}

.cart-item__error-text + svg {
  flex-shrink: 0;
  width: 1.2rem;
  margin-right: 0.7rem;
}

.cart-item__error-text:empty + svg {
  display: none;
}

.product-option + .product-option {
  margin-top: 0.4rem;
}

.product-option * {
  display: inline;
  margin: 0;
}

.cart-item {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 3.5rem;
  align-items: start;
}

.price__on-drawer--hidden {
  visibility: hidden;
  opacity: 0;
  height: 0px;
  overflow: hidden;
  margin: 0 !important;
}

@media screen and (max-width: 749px) {
  .cart-items {
    display: block;
    width: 100%;
  }

  .cart-item:last-child {
    margin-bottom: 0;
  }

  .cart-item__totals {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }
}

.cart-item__error-text + svg {
  margin-top: 0.4rem;
}

@media screen and (min-width: 750px) {
  .cart-items {
    border-spacing: 0;
    border-collapse: separate;
    box-shadow: none;
    width: 100%;
    display: table;
  }
}

.cart-wrapper {
  display: flex;
  align-items: start;
  gap: 2rem;
}

.cart-wrapper .cart-items {
  width: 60%;
}

.cart-flex__right {
  width: calc(40% - 2rem);
}

.cart-flex__right .drawer__module--delivery-estimation {
  margin-bottom: 2rem;
}

.cart-wrapper .cart-modules {
  padding: 1.5rem;
  background: rgb(var(--color-background-secondary));
}

.cart-modules .cart__discount-code input {
  background: rgb(var(--color-background));
}

.cart-modules .tax-note__payment-badges {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  margin-bottom: 0.4rem;
}

/* ════════════════════════════════════════════════════════════════════════ */
/* #region(collapsed) Cart Upsell */
.cart__upsell {
  border-radius: var(--content-container-radius);
  margin-bottom: 1.5rem;
  padding: 0 !important;
  max-width: 450px;
}
.cart__upsell:not(.color-background-1) .cart__upsell--title {
  padding: 1.5rem 1.5rem 0;
}
.cart__upsell:not(.color-background-1) .swiper {
  padding: 1.5rem !important;
}
.cart__upsell .card__content {
  padding: 0;
}
.cart__upsell .card:not(.ratio) {
  padding: 1rem;
  background: rgb(var(--color-background-secondary));
  border-radius: var(--content-container-radius);
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}
.cart__upsell.cart__protection .card--product .card__product-link--media {
  width: 12%;
}
.cart__upsell.cart__protection .card--product .card__content {
  width: 83%;
}
.cart__upsell .card--product .card__product-link--media {
  width: 27%;
}
.cart__upsell .card--product .card__content {
  width: 67%;
}
.cart__upsell .no-media .card--product .card__content {
  width: 70%;
}
.cart__upsell .card--product .card__content .card__product-cta form {
  display: flex;
  align-items: start;
  gap: 0.5rem;
  justify-content: space-between;
  flex-direction: row;
}
.cart__upsell--title {
  line-height: 1;
  margin-bottom: 0;
  font-size: 1.4rem;
  color: rgb(var(--color-foreground));
}
.cart__upsell .select {
  width: 100%;
}
.cart__upsell .price {
  font-size: 1.3rem;
}
.cart__upsell .select .select__select {
  height: 3rem;
  padding: 0.5rem 2rem 0.5rem 1rem;
}
.cart__upsell .select svg {
  transform: none;
  top: 40%;
  left: 82%;
}
.cart__upsell .card__product-cta,
.cart__upsell .card--product .card__content {
  margin-top: 0;
  padding-top: 0;
}
.cart__upsell .card__product-informations {
  margin-bottom: 0.5rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.card__product-form.cart__upsell--single {
  width: 13.3rem;
}
.cart__upsell .product-form__buttons.card__product-form-buttons {
  height: auto;
}
.cart__upsell .card__product-heading {
  font-size: 1.4rem;
  line-height: 1.2;
  margin-bottom: 0.2rem;
  color: rgb(var(--color-foreground-secondary));
}
.cart__upsell .card__product-cta .product-form__submit {
  min-width: auto;
  font-size: 1.2rem;
  min-height: auto;
  height: 30px;
  padding: 0.6rem;
}
.cart__upsell--swiper {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}
.cart__upsell--image {
  padding-bottom: 100%;
  width: 7rem;
}
.cart__upsell--product-informations {
  margin-right: auto;
  align-self: flex-start;
}
.cart__upsell--link--media {
  display: block;
}
.cart__upsell--price {
  font-size: 1.4rem;
}
/* #endregion ═════════════════════════════════════════════════════════════ */

/* ════════════════════════════════════════════════════════════════════════ */
/* #region(collapsed) Cart Upsell Guarantee */
.cart-modules .drawer__protection {
  border-radius: var(--inputs-radius);
  overflow: hidden;
}
/* #endregion ═════════════════════════════════════════════════════════════ */

.cart-item--hidden {
  display: none !important;
}

@media screen and (min-width: 750px) {
  .cart-wrapper .cart-modules {
    position: sticky;
    top: calc(var(--header-height) * 2);
  }
}

.cart-wrapper .cart-modules > *:not(:last-child) {
  margin-bottom: 1.2rem;
}

.cart-modules .drawer__module {
  border-radius: calc(var(--content-container-radius) / 1.5);
}

.cart-modules .cart__discount-code button {
  min-height: auto !important;
}

.cart-modules .drawer__module--free_shipping .free-shipping__bar {
  margin-top: 0.4rem;
  margin-bottom: 0;
}

.product__review {
  position: relative;
}

.product__review .swiper-button-next {
  right: -2.3rem !important;
  transform: scale(0.5) translateY(-100%) !important;
}

.product__review .swiper-button-prev {
  left: -2.3rem !important;
  transform: scale(0.5) translateY(-100%) !important;
}

.product-review__slide,
.product-review__header {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.product-review__image {
  display: block;
  border-radius: 50%;
  width: calc(20% - 0.7rem);
}

.product-review__meta {
  width: calc(80% - 0.7rem);
}

.product-review__heading {
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
}

.product-review__text {
  font-size: 1.4rem;
}

.product__review .product-review__heading svg {
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  background-color: rgb(var(--color-accent-1));
  fill: rgb(var(--color-background));
}

.product__review .product-review__heading svg path:first-child {
  display: none;
}

@media only screen and (max-width: 550px) {
  .cart-item {
    flex-wrap: wrap;
  }

  .cart-item-right__part {
    width: 100%;
  }

  .cart-item__details {
    width: auto;
  }

  .cart-item__media {
    width: auto;
  }
}

@media only screen and (max-width: 1050px) {
  .cart-wrapper {
    flex-wrap: wrap;
  }

  .cart-wrapper .cart-items,
  .cart-wrapper .cart-flex__right {
    width: 100%;
  }

  .cart-wrapper .product__review {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 50rem;
  }
}
