.marquee {
  --mask-image: linear-gradient(to right, transparent 0px, black 20px, black calc(100% - 20px), transparent 100%);
  overflow: hidden;
  -webkit-mask-image: var(--mask-image);
  mask-image: var(--mask-image);
}

.marquee__wrapper {
  min-height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.marquee__text {
  white-space: nowrap;
}

.marquee__flex {
  display: flex;
  align-items: center;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}
